workflows/news_analyzer_v9.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company_name",
              "value": "NVIDIA"
            }
          ]
        }
      },
      "id": "set_company",
      "name": "Set Company",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{ $json[\"company_name\"] }} history milestones milestones company"
            },
            {
              "name": "api_key",
              "value": "1e20ae6397bae5b68d24f10e7774792d8729e8405ac64764ec590e6095351ec3"
            }
          ]
        }
      },
      "id": "serp_search",
      "name": "SerpAPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = ($input.item.json.organic_results || []).concat($input.item.json.news_results || []);\nreturn results.slice(0, 5).map(r => ({\n  json: {\n    text_to_analyze: `Title: ${r.title}. Summary: ${r.snippet || r.description || ''}`,\n    link: r.link,\n    date: r.date\n  }\n}));"
      },
      "id": "prepare_data",
      "name": "Prepare Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[{\"text\": \"你是歷史學家。請從以下資訊抽取一個最重要的歷史事件。\\n輸出格式必須嚴格遵守此 JSON: {\\\"date\\\": \\\"YYYY-MM-DD\\\", \\\"event\\\": \\\"事件描述\\\"}\\n\\n內容：\\n{{ $json.text_to_analyze.replace(/\\\"/g, '\\\\\\\"') }}\"}]\n  }]\n}",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "AIzaSyAHRVO4VPMrsRvgGZcZHfYqelp5Xgrb0F4"
            }
          ]
        }
      },
      "id": "ai_analysis",
      "name": "Gemini Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  let text = \"\";\n  // Handle different response structures\n  if ($input.item.json.candidates && $input.item.json.candidates[0].content) {\n    text = $input.item.json.candidates[0].content.parts[0].text;\n  } else if ($input.item.json.parts) {\n    text = $input.item.json.parts[0].text;\n  }\n  \n  // Strip markdown code blocks if any\n  const cleanText = text.replace(/```json|```/g, \"\").trim();\n  const eventData = JSON.parse(cleanText);\n  \n  return { json: eventData };\n} catch (e) {\n  return { json: { error: \"Parse error\", message: e.message, raw: $input.item.json } };\n}"
      },
      "id": "parse_gemini",
      "name": "Parse Gemini JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://icxbymapactpthllnjya.supabase.co/rest/v1/company_events",
        "sendHeaders": true,
        "headerParametersUi": {
          "parameter": [
            {
              "name": "apikey",
              "value": "sb_secret_CEfk0K50zCfCK95Ji15l0g_c7R3MnmR"
            },
            {
              "name": "Authorization",
              "value": "Bearer sb_secret_CEfk0K50zCfCK95Ji15l0g_c7R3MnmR"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"company_name\": \"{{ $(\"Set Company\").item.json.company_name }}\",\n  \"event_date\": \"{{ $json.date }}\",\n  \"description\": \"{{ $json.event }}\",\n  \"source_url\": \"{{ $(\"Prepare Search Results\").item.json.link }}\"\n}"
      },
      "id": "supabase_http",
      "name": "Supabase Save",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1550,
        300
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Company",
            "index": 0
          }
        ]
      ]
    },
    "Set Company": {
      "main": [
        [
          {
            "node": "SerpAPI Search",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search": {
      "main": [
        [
          {
            "node": "Prepare Search Results",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Search Results": {
      "main": [
        [
          {
            "node": "Gemini Analysis",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Analysis": {
      "main": [
        [
          {
            "node": "Parse Gemini JSON",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini JSON": {
      "main": [
        [
          {
            "node": "Supabase Save",
            "index": 0
          }
        ]
      ]
    }
  }
}