workflows/news_analyzer_v2.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company_name",
              "value": "NVIDIA"
            }
          ]
        }
      },
      "id": "set_company",
      "name": "Set Company",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "={{ $json[\"company_name\"] }} history milestones news"
            },
            {
              "name": "tbm",
              "value": "nws"
            },
            {
              "name": "api_key",
              "value": "1e20ae6397bae5b68d24f10e7774792d8729e8405ac64764ec590e6095351ec3"
            },
            {
              "name": "num",
              "value": "5"
            }
          ]
        }
      },
      "id": "serp_search",
      "name": "SerpAPI Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.news_results || [];\nreturn results.map(r => ({ json: r }));"
      },
      "id": "split_code",
      "name": "Split News",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"link\"] }}",
        "options": {
          "responseFormat": "string"
        }
      },
      "id": "fetch_page",
      "name": "Fetch Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [{\n    \"parts\":[{\"text\": \"你是歷史專家，請分析這篇新聞並抽取公司的歷史事件。輸出 JSON 陣列格式: [{\\\"date\\\": \\\"YYYY-MM-DD\\\", \\\"event\\\": \\\"...\\\"}]。內容如下：\\n\\n{{ $json[\"data\"].replace(/\\\"/g, '\\\\\\\"') }}\"}]\n  }]\n}",
        "sendQueryParameters": true,
        "queryParametersUi": {
          "parameter": [
            {
              "name": "key",
              "value": "AIzaSyAHRVO4VPMrsRvgGZcZHfYqelp5Xgrb0F4"
            }
          ]
        }
      },
      "id": "ai_analysis",
      "name": "Gemini (via HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1250,
        300
      ]
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Set Company",
            "index": 0
          }
        ]
      ]
    },
    "Set Company": {
      "main": [
        [
          {
            "node": "SerpAPI Search",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Search": {
      "main": [
        [
          {
            "node": "Split News",
            "index": 0
          }
        ]
      ]
    },
    "Split News": {
      "main": [
        [
          {
            "node": "Fetch Content",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Content": {
      "main": [
        [
          {
            "node": "Gemini (via HTTP)",
            "index": 0
          }
        ]
      ]
    }
  }
}